button {
    width: 250px;
    height: 60px;
    color: #000;
    border: 2px solid #fff;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
    outline: none;
    font-size: 1.5rem;
}

button:hover {
    background-color: rgb(2, 205, 165);
    color: #000;
}

.boton-clic {
    background-color: rgb(121, 255, 210);
}

.boton-reiniciar {
    background-color: rgb(121, 255, 210);
}